<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @catalog_mebeli.title %>
</p>


<%= link_to 'Edit', edit_catalog_mebeli_path(@catalog_mebeli) %> |
<%= link_to 'Back', catalog_mebelis_path %>
