<% i=1 %>
<div class="group_gallery" style=" height: 180px;">
  <div style="vertical-align: bottom;position:relative; height: 140px; ">
    <%= link_to (image_tag(product.avatar.url(:thumb), :class => "round")), product %>
  </div>
  <div style=" height: 35px; width: 165px;">
    <p><%= product.title %></p>
    <p style="color: #F26925;"><%= product.article %>
<%# if admin_signed_in? %>
<%#= link_to 'Удалить', product,
:confirm => 'Are you sure?',
:method => :delete %>
<%# end %>
    </p>
  </div>
  <% if i> 3 %>
    <div style="clear: left; padding-bottom: 35px;"></div>
    <% i=0 %>
  <% end %>
  <% i += 1 %>
</div>
