<%= form_for @search do |f| %>
  <div id="razdel">
    <%#= select(:product_search, :catalog_mebeli_id, options_from_collection_for_select(CatalogMebeli.all, :title, :title)) %>
    <%= f.collection_select :catalog_mebeli_id_eq, CatalogMebeli.all, :id, :title, :class => "selectBlock"  %>
  </div>
  <div id="razdel">
    <%= f.collection_select :mirror_id_eq, Mirror.all, :id, :title, :class => "selectBlock"  %>
  </div>
  <div id="razdel">
    <select class="selectBlock">
      <option>Выбрать фабрику</option>
      <option>Выбрать фабрику</option>
      <option>Выбрать фабрику</option>
      <option>Выбрать фабрику</option>
      <option>Выбрать фабрику</option>
    </select>
  </div>
  <div id="razdel">
    <select class="selectBlock">
      <option>Выбрать стиль</option>
      <option>Выбрать стиль</option>
      <option>Выбрать стиль</option>
      <option>Выбрать стиль</option>
      <option>Выбрать стиль</option>
    </select>
  </div>
  <div id="razdel">
    <input type="submit" value="" id="searchbutton"/>
  </div>
<% end %>

