<div id="footer">
	<div id="ftr_left">
    <%= image_tag "contacts.png", :style => " position: relative; top: 70px; left: 60px;" %>
	</div>
    <div id="ft_menu">
   	 	<div id="ftr_table">
        <a href="#" style="font: 14px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #fff; text-decoration:underline;">Фабрики:</a>
    	<table id="footer_table" width="700" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="120"><a href="#">ALTA MODA</a></td>
            <td></td>
            <td width="130"><a href="#">CIA INTERNATIONAL</a></td>
            <td></td>
            <td width="120"><a href="#">LIGNE ROSET</a></td>
            <td>&nbsp;</td>
            <td width="120"><a href="#">SELVA</a></td>
          </tr>
          <tr>
            <td><a href="#">ANGELO CAPPELLINI</a></td>
            <td>&nbsp;</td>
            <td><a href="#">EPOQUE</a></td>
            <td>&nbsp;</td>
            <td><a href="#">MASCHERONI</a></td>
            <td>&nbsp;</td>
            <td><a href="#">SMANIA</a></td>
          </tr>
          <tr>
            <td><a href="#">ARCA</a></td>
            <td>&nbsp;</td>
            <td><a href="#">FRANCESCO MOLON</a></td>
            <td>&nbsp;</td>
            <td><a href="#">OAK</a></td>
            <td>&nbsp;</td>
            <td><a href="#">TURRI</a></td>
          </tr>
          <tr>
            <td><a href="#">ASNAGHI INTERIORS</a></td>
            <td>&nbsp;</td>
            <td><a href="#">IL LOFT</a></td>
            <td>&nbsp;</td>
            <td><a href="#">PAOLO LUCCHETTA</a></td>
            <td>&nbsp;</td>
            <td><a href="#">3 ENNE ITALIA</a></td>
          </tr>
          <tr>
            <td><a href="#">BM STYLE</a></td>
            <td>&nbsp;</td>
            <td><a href="#">JUMBO</a></td>
            <td>&nbsp;</td>
            <td><a href="#">PROVASI</a></td>
            <td>&nbsp;</td>
            <td><a href="#">A.R.ARREDAMENTI</a></td>
          </tr>
        </table>
		</div>
    </div>
</div>
<!-- end footer -->