<div id="header_border">
<div id="header">
  <div style="border-right: 1px solid #878787; width:175px; ">
    <%= image_tag "itg_logo.jpg", :style => "border-right: 1px solid #000; height: 172px;" %>
  </div>
  <%= image_tag "KAZAN.png", :style => "left: 205px; position: relative; top: -150px;"%>
	<div id="search">
    	<p style="margin-left: 3px; font: 17px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #fff;">Я ищу<%= image_tag "search_zoom.png", :style => "position: relative; top: 4px; left: 2px;" %></p>
    	<input type="text" name="tSer" value="" id="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
		<input type="submit" name="cSer" id="search_btn_header" value="" />
        <div style="position: relative; top: 30px;"><p style=" margin-left: 3px; font: 12px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #fff; ">Например: <span style=" border-bottom: 1px dashed white;">кресло и диван</span></p></div>
        <div style="position: relative; top: 15px; float: right; right: -54px;"><a href="#" style=" margin-left: 3px; font: 12px 'Myriad Pro', Verdana, Geneva, sans-serif; color: #cccc00; text-decoration:underline;">Расширенный поиск</a></div>
    </div>
</div>
</div>
<!-- end header -->
 